
#CentralWidget, QMainWindow {
    margin: 0;
    padding: 0;
}

#SettingsPanel {
    background-color: #616875;
    color: #f8f8f8;
    padding: 16px;
}

#SettingsPanel QLabel {
    color: #f8f8f8;
}

#BitmapInfo, #FontInfo {
    border: 1px solid rgba(0,0,0,0.25);
    padding: 8px;
    margin: 0px 0px 16px 0px;
}

#ParameterScrollArea {
    border: none;
}

#ParameterFrame {
    background-color: #616875;
}
